#page-wrapper {
}

.form-information h1 {
    border-bottom: 2px solid black;
    padding-left: 1rem;
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 1rem;
}

.form-group {
    width: 100%;
}

input, textarea, select {
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    min-height: 2rem;
    font-size: 1.25rem;
}

select:required:invalid {
    color: gray;
}



option[value="null"][disabled] {
    display: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

textarea {
    field-sizing: content;
    min-height: 75px;
}

:host ::ng-deep .form-group .ng-invalid:not(.ng-untouched) {
    border: 0.8px solid red;
}

.form-group-error {
    color: red;
    min-height: 20px;
    text-align: right;
}

.validation-error::before {
    content: "*";
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    opacity: 0.7;
}

.skeleton-control {
    width: 100%;
    height: 20px;
    margin: 1rem;
    margin-left: 0;
    border-radius: 10px;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
