<div id="page-wrapper">
    <div class="form-wrapper">
        <div class="form-information">
            <a routerLink="/">Home</a>
            <h1>{{ isNewForm() ? "Create" : "Edit" }} Transaction</h1>
        </div>

        <form (ngSubmit)="saveTransaction()">
            <!-- <div class="form-group">
                <label for="amount">Amount: </label>
                <input id="amount" type="number" step=".01" [field]="form.amount" placeholder="Enter Amount..">
                <div class="form-group-error">
                    <app-validation-error [control]="form.amount" />
                </div>
            </div> -->

            <div class="form-group">
                <label>
                    Type:
                    <app-select-box [field]="form.transactionTypeId" resourceName="Type" route="transaction-types"
                        displayMember="typeName" valueMember="id">
                    </app-select-box>
                    <app-validation-error [control]="form.transactionTypeId"></app-validation-error>
                </label>
                <div class="form-group-error">
                    <app-validation-error [control]="form.transactionTypeId" />
                </div>
            </div>
            <div class="form-group">
                <label>
                    Group:
                    <app-select-box [field]="form.transactionGroupId" resourceName="Group" route="transaction-groups"
                        displayMember="groupName" valueMember="id">
                    </app-select-box>
                    <app-validation-error [control]="form.transactionGroupId"></app-validation-error>
                </label>
                <div class="form-group-error">
                    <app-validation-error [control]="form.transactionGroupId" />
                </div>
            </div>
            <div class="form-group">
                <label>
                    Method:
                    <app-select-box [field]="form.transactionMethodId" resourceName="Method" route="transaction-methods"
                        displayMember="methodName" valueMember="id">
                    </app-select-box>
                    <app-validation-error [control]="form.transactionMethodId"></app-validation-error>
                </label>
                <div class="form-group-error">
                    <app-validation-error [control]="form.transactionMethodId" />
                </div>
            </div>
            <div class="form-group">
                <label>
                    Account:
                    <app-select-box [field]="form.accountId" resourceName="Account" route="accounts"
                        displayMember="accountName" valueMember="id">
                    </app-select-box>
                    <app-validation-error [control]="form.accountId"></app-validation-error>
                </label>
                <div class="form-group-error">
                    <app-validation-error [control]="form.accountId" />
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description: </label>
                <textarea id="description" [field]="form.description" placeholder="Enter Description..."></textarea>
                <div class="form-group-error">
                    <app-validation-error [control]="form.description" />
                </div>
            </div>

            <div class="form-group">
                <label for="localTimestamp">Timestamp: </label>
                <input id="localTimestamp" type="datetime-local" [field]="form.localTimestamp">
                <div class="form-group-error">
                    <app-validation-error [control]="form.localTimestamp" />
                </div>
            </div>

            <div class="form-buttons">
                <!-- <button type="submit" [disabled]="!form.dirty">{{ isNewForm() ? "Create" : "Save"
                        }}</button>
                    <button type="button" (click)="rebindForm()" [hidden]="!form.dirty">Cancel Changes</button>
                    <button type="button" (click)="closeForm(false)">Close</button>
                    <button type="button" (click)="deleteTransaction()" [hidden]="isNewForm()">Delete</button> -->
            </div>
        </form>
    </div>
</div>