<div id="page-wrapper">
    <div class="form-wrapper">
        <div class="form-information">
            <a routerLink="/">Home</a>
            <h1>{{ isNewForm() ? "Create" : "Edit" }} Transaction</h1>
        </div>
        <form [formGroup]="form" (ngSubmit)="saveTransaction()">
            <div class="form-group">
                <label for="amount">Amount: </label>
                <input id="amount" type="number" step=".01" formControlName="amount">
                <div class="form-group-error">
                    @if (form.controls.amount.touched) {
                        @if (form.controls.amount.hasError("required")) {
                        <div class="validation-error">
                            Amount is required.
                        </div>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label for="transaction-type">Type: </label>
                <select id="transaction-type" formControlName="transactionTypeId">
                    @for (t of types.value(); track t.id) {
                    <option [ngValue]="t.id">{{ t.typeName }}</option>
                    }
                </select>
                <div class="form-group-error">
                    @if (form.controls.transactionTypeId.touched) {
                        @if (form.controls.transactionTypeId.hasError("required")) {
                        <div class="validation-error">
                            Type is required.
                        </div>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label for="transaction-group">Group: </label>
                <select id="transaction-group" formControlName="transactionGroupId">
                    @for (g of groups.value(); track g.id) {
                    <option [ngValue]="g.id">{{ g.groupName }}</option>
                    }
                </select>
                <div class="form-group-error">
                    @if (form.controls.transactionGroupId.touched) {
                        @if (form.controls.transactionGroupId.hasError("required")) {
                        <div class="validation-error">
                            Group is required.
                        </div>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label for="transaction-method">Method: </label>
                <select id="transaction-method" formControlName="transactionMethodId">
                    @for (t of methods.value(); track t.id) {
                    <option [ngValue]="t.id">{{ t.methodName }}</option>
                    }
                </select>
                <div class="form-group-error">
                    @if (form.controls.transactionMethodId.touched) {
                        @if (form.controls.transactionMethodId.hasError("required")) {
                        <div class="validation-error">
                            Method is required.
                        </div>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label for="account">Account: </label>
                <select id="account" formControlName="accountId">
                    @for (a of accounts.value(); track a.id) {
                    <option [ngValue]="a.id">{{ a.accountName }}</option>
                    }
                </select>
                <div class="form-group-error">
                    @if (form.controls.accountId.touched) {
                        @if (form.controls.accountId.hasError("required")) {
                        <div class="validation-error">
                            Account is required.
                        </div>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description: </label>
                <textarea id="description" formControlName="description"></textarea>
                <div class="form-group-error">
                    @if (form.controls.description.touched) {
                        @if (form.controls.description.hasError("required")) {
                        <div class="validation-error">
                            Description is required.
                        </div>
                        }
                        @if (form.controls.description.hasError("maxlength")) {
                        <div class="validation-error">
                            Description cannot be more than 150 characters.
                        </div>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label for="localTimestamp">Timestamp: </label>
                <input id="localTimestamp" type="datetime-local" formControlName="localTimestamp">
                <div class="form-group-error">
                    @if (form.controls.localTimestamp.touched) {
                        @if (form.controls.localTimestamp.hasError("required")) {
                        <div class="validation-error">
                            Timestamp is required.
                        </div>
                        }
                    }
                </div>
            </div>

            <div class="form-buttons">
                <button type="submit" [disabled]="!form.valid || !form.dirty">{{ isNewForm() ? "Create" : "Save"
                    }}</button>
                <button type="button" (click)="resetForm()" [hidden]="!form.dirty">Cancel Changes</button>
                <button type="button" (click)="closeForm(false)">Close</button>
                <button type="button" (click)="deleteTransaction()" [hidden]="isNewForm()">Delete</button>
            </div>
        </form>
    </div>
</div>