#transactions-wrapper {
    --border-color: rgba(130, 132, 132,  1);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
}

#add-transaction-button {
    padding: 1rem;
    border: 2px solid var(--border-color); 
    cursor: pointer; 
}

#add-transaction-button:hover {
    color: white;
    background-color: black;
}

.filters-container {
    display: flex;
    column-gap: 1rem;
}

table {
    border-collapse: collapse;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color); 
    border-bottom: 2px solid var(--border-color);
}

th {
    text-align: left;
    font-size: 1.25rem;
    padding: 1rem 0.5rem;
}

thead {
    /* background-color: blue; */
    border: 2px solid var(--border-color);
}

td {
    border-bottom: 1px solid var(--border-color); 
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}


.income {
    color: green;
}

.expense {
    color: red;
}

.income::before {
    content: '+'
}

.row-buttons {
    display: flex;
    justify-content: space-around;
}

.row-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.row-buttons button img {
    width: 25px;
    aspect-ratio: 1;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    opacity: 0.7;
}

.skeleton-row {
    width: 100%;
    height: 10px;
    margin: 1rem;
    margin-left: 0;
    border-radius: 10px;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
