* {
    box-sizing: border-box;
}

input {
    margin: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}

.wrapper {
    padding: 2rem;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title button {
    border: 2px solid black;
    background: none;
    cursor: pointer;
    border-radius: 0.5rem;
    height: 70%;
}

.page-title button img {
    width: 30px;
    aspect-ratio: 1;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.card-title {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    background-color: lightgoldenrodyellow;
    width: 100%;
}

.card-title h2 {
    margin: 0.5rem;
}

.card-actions {
    display: flex;
}

.card-actions button img {
    width: 25px;
    aspect-ratio: 1;
}

.card-actions button {
    background: none;
    border: none;
    cursor: pointer;
}

.card-information {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
}

.card-information p {
    margin: 0.5rem;
}

.balance-positive {
    color: green;
}

.balance-negative {
    color: red;
}