# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Install MSSQL DB
      uses: potatoqualitee/mssqlsuite@v1.11
      with:
        install: sqlengine, sqlpackage, sqlclient
    - name: Create Test Database
      run: sqlcmd -S localhost -U sa -P dbatools.I0 -d tempdb -Q "CREATE DATABASE SpenderTrackerTest;" -C
    - name: Substitute MSSQL Connection String into appsettings
      uses: microsoft/variable-substitution@v1
      with:
        files: '**/appsettings.json'
      env:
        ConnectionStrings.TestDatabase: "Server=localhost;Database=SpenderTrackerTest;User Id=sa;Password=dbatools.I0;TrustServerCertificate=true" 
    - name: List files
      run: ls -R && pwd
    - name: Run tests with MSSQL Fixture
      run: dotnet test --no-build --verbosity normal
